body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.nav {
    background: rgba(197, 197, 197, 0.5);
}

.mini-nav {
    display: flex;
}

.blog-link {
    padding-left: 0;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 24px;
    color: #2E2E2D;
    text-decoration: none;
    font-size: 16px;
}

.blog-link:hover {
    color: #D63535;
}

.blog-link_active {
    color: #D63535;
    font-weight: 600;
}

.search {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* .dropdown-item {
    padding: 0;
}

.dropdown-menu.show {
    margin-left: -300px;
    margin-top: -27px;
    background: transparent;
    padding: 0;
    border: none;
} */

.hero-background{
    width: 100%;
    height: 545px;
    background: #D63535;
    overflow: hidden;
}

.hero-content {
    height: 545px;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content_img img {
    width: 560px;
}

.hero-content_text p {
    font-size: 23px;
    margin-bottom: 32px;
}

.hero-content_text h1 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 24px;
}

.author-img {
    float: left;
    margin-right: 16px;
}

.author-about {
    overflow: hidden;
}

.author-about p {
    margin: 0;
    margin-top: 10px;
    font-size: 24px;
}

.author-post {
    padding-top: 85px;
    padding-bottom: 85px;
}

.author-post_socials {
    margin: 0 auto;
    width: 143px;
    display: flex;
    justify-content: space-between;
}

.author-post_text {
    margin-top: 60px;
}

.author-post_container {
    margin-left: 100px;
    margin-right: 100px;
}

.author-post_text p {
    font-size: 18px;
    padding-bottom: 30px;
}

.author-post_text h2 {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 15px;
}

.subscribe {
    height: 200px;
    background: rgba(214, 53, 53, 0.103);
    padding: 28px 75px;
    text-align: center;
    border-top: 10px solid rgba(214, 53, 53, 0.603);
    margin-bottom: 40px;
}

.subscribe p {
    color: #2E2E2D;
    font-size: 18px;
    margin-bottom: 16px;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    border: 1px solid rgba(46, 46, 45, 0.7);
    margin-bottom: 16px;
}
  
.subscribe input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
    padding: 13px 0;
    padding-left: 16px;
}

.subscribe input::placeholder {
    color: #2E2E2D;
    font-size: 18px;
}

.subscribe input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

.subscribe button {
    /* Just a little styling to make it pretty */
    border:1px solid #D63535;
    background:rgba(214, 53, 53, 0.904);
    color:white;
    padding: 13px 30px;
    font-size: 18px;
    font-weight: 500;
}

.author-details {
    margin-top: 40px;
}

.author-details_img {
    float: left;
    margin-right: 16px;
}

.author-details_about {
    overflow: hidden;
}

.author-bio1 {
    margin: 0;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
}

.author-bio2 {
    margin: 0;
    margin-top: 3px;
    font-size: 18px;
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    
    .hero-background{
        width: 100%;
        height: 545px;
        background: #D63535;
        overflow: hidden;
    }
    
    .hero-content {
        height: 545px;
        color: #fff;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .hero-content_text p {
        font-size: 23px;
        margin-bottom: 32px;
    }
    
    .hero-content_text h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .hero-content_img img {
        width: 500px;
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .blog-link {
        padding-left: 0;
        padding-top: 19px;
        padding-bottom: 19px;
        padding-right: 20px;
        color: #2E2E2D;
        text-decoration: none;
        font-size: 15px;
    }

    .blog-link:hover {
        color: #D63535;
    }
    
    .blog-link_active {
        color: #D63535;
        font-weight: 600;
    }

    .hero-background{
        width: 100%;
        height: 445px;
        background: #D63535;
        overflow: hidden;
    }
    
    .hero-content {
        height: 445px;
        color: #fff;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .hero-content_text p {
        font-size: 18px;
        margin-bottom: 32px;
    }
    
    .hero-content_text h1 {
        font-size: 32px;
        font-weight: 600;
    }

    .hero-content_img img {
        width: 340px;
    }

}

@media (max-width: 575.98px) {
    
    .mini-nav {
        display: flex;
    }

    .blog-link {
        padding-left: 0;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 10px;
        color: #2E2E2D;
        text-decoration: none;
        font-size: 12px;
    }

    .blog-link:hover {
        color: #D63535;
    }
    
    .blog-link_active {
        color: #D63535;
        font-weight: 600;
    }

    .search img {
        width: 17px;
        height: 17px;
    }

    .hero-background{
        width: 100%;
        height: 400px;
        background: #D63535;
        overflow: hidden;
    }
    
    .hero-content {
        height: 400px;
        color: #fff;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-content_text {
        text-align: center;
    }
    
    .hero-content_text p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .hero-content_text h1 {
        font-size: 29px;
        font-weight: 600;
        margin-bottom: 60px;
    }

    .hero-content_img img {
        width: 260px;
    }

}

@media (max-width: 376px) {
    
    .mini-nav {
        display: flex;
    }

    .blog-link {
        padding-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 7px;
        color: #2E2E2D;
        text-decoration: none;
        font-size: 10px;
    }

    .blog-link:hover {
        color: #D63535;
    }
    
    .blog-link_active {
        color: #D63535;
        font-weight: 600;
    }

    .search img {
        width: 15px;
        height: 15px;
    }

}

