.nav {
    background: rgba(197, 197, 197, 0.5);
}

.mini-nav {
    display: flex;
}

.blog-link {
    padding-left: 0;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 24px;
    color: #2E2E2D;
    text-decoration: none;
    font-size: 16px;
}

.blog-link:hover {
    color: #D63535;
}

.active {
    color: #D63535;
    font-weight: 600;
}

.search {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* .dropdown-item {
    padding: 0;
}

.dropdown-menu.show {
    margin-left: -300px;
    margin-top: -27px;
    background: transparent;
    padding: 0;
    border: none;
} */