.catalogue {
    margin-top: 80px;
}

label {
    font-size: 20px;
    color: #04172A;
    padding-right: 5px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search {
    position: relative;
    padding: 0 !important;
}

.search input {
    text-indent: 33px;
}

.search .fa-search { 
    position: absolute;
    top: 12px;
    left: 82px;
    font-size: 18px;
    color: rgba(4, 23, 42, 0.3);
}

.fa-filter {
    position: absolute;
}

input {
    height: 43px;
    width: 100%;
    font-size: 16px;
    color: rgba(4, 23, 42, 0.3);
    padding: 0;
    border: 1px solid rgba(4, 23, 42, 0.1);
    border-radius: 5px;
    background: #fff;
}

input::placeholder {
    color: rgba(4, 23, 42, 0.3);
    font-size: 16px;
}

.catalogue-grid {
    padding-top: 32px;
}

.catalogue-box {
    height: 312px;
    width: 364px;
    margin-bottom: 17px;
    border-radius: 5px;
    border: 1px solid rgba(46, 46, 45, 0.1);
}

.catalogue-img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.catalogue-box_more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    color: #fff;
    border-top: 1px solid rgba(46, 46, 45, 0.1);;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 16px;
    color: #2E2E2D;
    line-height: 21px;
}

.catalogue-box_more button {
    background-color: #D63535 !important;
    margin-bottom: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 10px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 8px;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .catalogue-grid {
        overflow-x: hidden;
    }

    .catalogue-box {
        height: 253px;
        width: 300px;
        margin-bottom: 17px;
        border-radius: 5px;
        border: 1px solid rgba(46, 46, 45, 0.1);
    }
    
    .catalogue-img {
        width: 75%;
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .catalogue-box_more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        color: #fff;
        border-top: 1px solid rgba(46, 46, 45, 0.1);;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .product-name {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        padding-left: 14px;
        color: #2E2E2D;
        line-height: 21px;
    }
    
    .catalogue-box_more button {
        background-color: #D63535 !important;
        margin-bottom: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 4px;
        padding-left: 6px;
        margin-right: 14px;
        font-size: 14px;
    }

    .catalogue-box_more img {
        width: 17%;
    }
}


