.articles-grid {
    padding-top: 84px;
}

.card {
    border: none !important;
}

.article-card img {
    border: 1px solid rgba(46, 46, 45, 0.1);
    border-radius: 5px 5px 0px 0px;
}

#article-card-title {
    font-size: 16px;
    color: #ADB5BD;
    text-align: center;
    padding-top: 15px;
}

#article-card-text {
    color: #2E2E2D;
    font-size: 18px;
    text-align: center;
    padding-bottom: 34px;
}

.view-all {
    color: #ADB5BD;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: -25px;
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .blog-link {
        padding-left: 0;
        padding-top: 19px;
        padding-bottom: 19px;
        padding-right: 20px;
        color: #2E2E2D;
        text-decoration: none;
        font-size: 15px;
    }

    .blog-link:hover {
        color: #D63535;
    }
    
    .blog-link_active {
        color: #D63535;
        font-weight: 600;
    }

    .card-title {
        font-size: 14px;
        padding-top: 10px;
    }
    
    .card-text {
        font-size: 16px;
        padding-bottom: 30px;
    }
    
    .view-all {
        font-size: 16px;
        position: relative;
        top: -25px;
    }

}

@media (max-width: 575.98px) {
    
    .mini-nav {
        display: flex;
    }

    .blog-link {
        padding-left: 0;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 10px;
        color: #2E2E2D;
        text-decoration: none;
        font-size: 12px;
    }

    .blog-link:hover {
        color: #D63535;
    }
    
    .blog-link_active {
        color: #D63535;
        font-weight: 600;
    }

    .search img {
        width: 17px;
        height: 17px;
    }

    .articles-grid {
        padding-top: 64px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-title {
        font-size: 13px;
        padding-top: 10px;
    }
    
    .card-text {
        font-size: 15px;
        padding-bottom: 30px;
    }
    
    .view-all {
        font-size: 15px;
        position: relative;
        top: -25px;
    }

}

@media (max-width: 376px) {
    
    .mini-nav {
        display: flex;
    }

    .blog-link {
        padding-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 7px;
        color: #2E2E2D;
        text-decoration: none;
        font-size: 10px;
    }

    .blog-link:hover {
        color: #D63535;
    }
    
    .blog-link_active {
        color: #D63535;
        font-weight: 600;
    }

    .search img {
        width: 15px;
        height: 15px;
    }

}

